* {
	font-family: 'Open Sans', sans-serif;
}

body, html, h1, h2, h3, h4, h5, h6, p, ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 1.2em;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	align-items: center;
}

header {
	width: 800px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 24px;
}

header h1 {
	font-size: 24px;
}

nav ul {
	display: flex;
	font-size: 14px;
	transition: 0.3s;
	cursor: pointer;
	align-items: center;
}

header a {
	text-decoration: none;
	color: inherit;
}

.category {
	margin: 8px;
	padding: 12px;
	transition: 0.3s;
	position: relative;
}

.category:hover p {
	font-weight: 700;
}

.subcategory-container {
	position: absolute;
	right: 0;
	font-size: 12px;
	transition: 0.3s;
	display: none;
}

.category:hover .subcategory-container {
	display: flex
}

.subcategory {
	margin: 6px;
}

.subcategory:hover {
	font-weight: 700;
}

#feature-img-container {
	width: 800px;
	flex-grow: 1;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

#feature-img-container img {
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	transition: 0.3s;
	cursor: pointer;
}

.img-info {
	position: fixed;
	padding-bottom: 24px;
	padding-left: 24px;
	font-size: 12px;
	align-self: flex-end;
	justify-self: end;
	display: none;
}

#feature-img-container .img-info *:not(.img-title) {
	height: 0px;
	margin: 0;
	overflow: hidden;
	transition: 0.3s;
}

#feature-img-container:hover .img-info *:not(.img-title) {
	height: auto;
	margin-bottom: 12px;
}

#feature-img-container:hover img:not(.lightbox) {
	opacity: 0.5;
}

.img-date, .img-caption {
	margin: 12px 0;
}

#carousel {
	max-width: 800px;
	height: 48px;
	overflow: scroll;
	display: flex;
	margin: 24px 0;
	justify-content: flex-start;
}

#carousel img {
	position: relative;
	height: 48px;
	margin: 0 2px;
	opacity: 0.5;
	transition: 0.2s;
}

#carousel img:hover {
	opacity: 1;
}

#lightbox-overlay {
	background: rgba(0, 0, 0, 0.9);
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	cursor: pointer;
}

#lightbox-overlay:after {
	content: "x";
	position: absolute;
	right: 12px;
	top: 12px;
	color: white;
	opacity: 0.7;
	font-size: 24px;
}

#feature-img-container img.lightbox {
	position: fixed;
	left: 50%;
	top: 50%;
	transform-origin: center;
	transform: translate(-50%, -50%) scale(0.9);
	z-index: 100;
	cursor: default;
}

footer {
	padding: 24px;
	font-size: 12px;
	text-align: center;
}

footer li {
	display: flex;
	align-items: center;
	justify-content: center;
}

footer li ul {
	margin: 0 8px;
}

